<% include partials/header_in.ejs %>
<% include partials/nav.ejs %>
    <div class="container in">
        <h1>Demandes :</h1>
        <div class="subMenu">
            <a id="all" class="active" href="/demandes">Tout</a>
            <a id="part" href="/demandes?who=particulier">Particulier</a>
            <a id="pro" href="/demandes?who=professionel">Professionel</a>
        </div>
        <% for (var i = 0; i < prod.length; i++) { %>
            <div class="row bloc">
                <div class="col-lg-4 offerHome">
                    <a href="/annonce/<%= prod[i]._id %>"><img src="/uploads/<%= prod[i].photo%>" /></a>
                </div>
                <div class="col-lg-8 offerHome">
                    <p class="title"><%= prod[i].title%></p>
                    <p><%= prod[i].city%></p>
                    <p class="price"><%= prod[i].price%> &euro;</p>
                </div>
            </div>
        <% } %>
    </div> 


<% include partials/footer.ejs %>