<% include partials/header.ejs %>
<%- include("partials/nav.ejs", {user : user})%>
    <div class="container in">
        <% for (var i = 0; i < prod.length; i++) { %>
            <div class="row bloc">
                <div class="col-lg-4 offerHome">
                    <a href="/annonce/<%= prod[i]._id %>"><img src="/uploads/<%= prod[i].photo[0].filename%>" /></a>
                </div>
                <div class="col-lg-8 offerHome">
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="title"><a href="/annonce/<%= prod[i]._id %>"><%= prod[i].title%></a></p>
                            <p><%= prod[i].city%></p>
                            <p class="price"><%= prod[i].price%> &euro;</p>
                        </div>
                    </div>
                </div>
            </div>
            <% }
                var num = 2;
                var num2 = Math.ceil(count / num);
            %>
            <div class="pagination d-flex justify-content-center">

                <% for (var j = 1; j < num2+1; j++) {
                    if(page){
                        if(page == j) {%>
                            <span><a class="ok<%=j%> paginationActif" href="/?p=<%= j %>"><%= j %></a></span>
                        <%}
                        else{%>
                            <span><a class="ok<%=j%>" href="/?p=<%= j %>"><%= j %></a></span>
                        <%}
                    }
                    else{
                        if(j === 1) {%>
                            <span><a class="ok1 paginationActif" href="/?p=<%= j %>"><%= j %></a></span>
                        <%}
                        else{%>
                            <span><a class="ok<%=j%>" href="/?p=<%= j %>"><%= j %></a></span>
                        <%}
                    }
                }%>

            </div>
    </div> 
<% include partials/footer.ejs %>