<% include partials/header.ejs %>
<% include partials/nav.ejs %>
    <div class="container">
        <% for (var i = 0; i < object.length; i++) { %>
            <div class="row bloc">
                <div class="col-lg-4 offerHome">
                    <a href="/annonce/<%= object[i].id %>"><img src="/uploads/<%= object[i].photo%>" /></a>
                </div>
                <div class="col-lg-8 offerHome">
                    <p><%= object[i].title%></p>
                    <p><%= object[i].city%></p>
                    <p><%= object[i].price%></p>
                </div>
            </div>
        <% } %>
    </div> 


<% include partials/footer.ejs %>